<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title text-center">Create new transfer</h5>
                    <app-transfer-form></app-transfer-form>
                </div>
            </div>
        </div>
        <div class="col ">
            <app-chart></app-chart>
        </div>
    </div>

    <div class="row ">
        <div class="col ">
            <table class="table mt-5" *ngFor="let account of accountService.userAccounts">
                <thead>
                    <tr>
                        <th scope="col">Origin Account</th>
                        <th scope="col">Destination Account</th>
                        <th scope="col">Transfer Date</th>
                        <th scope="col">Transfer Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of accountService.getHistory(account)">
                        <th scope="row">{{item.fromAccount | formatAccount}}</th>
                        <td>{{item.toAccount}}</td>
                        <td>{{item.sentAt | date:'dd/MMM/yy' }}</td>
                        <td>{{item.amount.value | currency:item.amount.currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>