<form #f="ngForm" novalidate="">
    <div>
        <div class="form-group">
            <label for="accountSelector">Select origin account</label>
            <select class="form-control" id="accountSelector" [(ngModel)]="account" name="origin" (change)="getBalance()">
                <option *ngFor="let account of userAccounts;let i=index" value="{{account}}"> {{account | formatAccount}} - {{userBalances[i] | currency:userCurrencies[i]}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="col-form-label">Destination account</label>
            <div>
                <input class="form-control" type="text" placeholder="12345678" minlength="8" maxlength="8" name="destination" pattern="[0-9]*" [(ngModel)]="destination" required #inputDestination="ngModel">
                <div class="text-danger " *ngIf="inputDestination.errors?.required && inputDestination.touched "> This field is required </div>
                <div class="text-danger" *ngIf="inputDestination.errors?.minlength && inputDestination.touched"> Must have 8 digits </div>
                <div class="text-danger" *ngIf="inputDestination.errors?.pattern && inputDestination.touched"> Must contains only numbers </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label">Amount</label>
            <div class="">
                <input class="form-control" type="text " placeholder="0 " name="amount" [(ngModel)]="amount" required #inputAmount="ngModel">
                <div class="text-danger " *ngIf="inputAmount.errors?.required && inputAmount.touched "> This field is required </div>
            </div>
        </div>

    </div>

    <div *ngIf="errorAmount" class="text-danger mb-5">
        {{errorMsg}}
    </div>

    <div class="form-group row">
        <div class="input-group col justify-content-end">
            <button class="btn btn-outline-secondary" (click)="cancel(f)">
                    Cancel
                </button>
            <button class="btn btn-outline-primary ml-3" [disabled]="f.invalid" (click)="saveTransfer(f)">
                    Transfer
                </button>
        </div>
    </div>
</form>