<div class="container text-center mt-3">
    <h1>Welcome to your online banking {{loginservice.username}}</h1>
</div>

<div class="p-3">
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <app-chart></app-chart>
                <h5 class="card-title text-center">Transactions History</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt reiciendis fugiat quos autem?</p>
            </div>
        </div>

        <div class="card">
            <div class="p-2">
                <img class="card-img-top" src="../../../assets/images/expenses.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Main Expenses</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, commodi doloremque nihil animi laboriosam dolore sit mollitia libero earum porro.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current Balance</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Account No.</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Date of Latest Transfer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of balance">
                            <th scope="row">{{item.account | formatAccount}}</th>
                            <td>{{item.balance | currency:item.currency}}</td>
                            <td>{{item.lastTransfer | date:'dd/MMM/yy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>