<div class="container">
    <canvas baseChart id="pieChart" [data]="accountsservice.chartData.data" [labels]="accountsservice.chartData.labels" [chartType]="pieChartType" [colors]="pieChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
    </canvas>
</div>