<div class="container row">
    <div class="card col-4 p-4 m-auto my-auto">

        <div class="card-body">
            <h5 class="card-title text-center mb-5">Login</h5>

            <form #f="ngForm" (ngSubmit)="save(f)" novalidate="">
                <div>
                    <div class="form-group">
                        <div class="">
                            <input class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="user.username" required minlength="8" maxlength="20" pattern='(?=.*[a-zA-Z])(^\S)([a-zA-Z0-9\!\"\$\%\&\/])*$' #inputUsername="ngModel">
                            <div class="text-danger" *ngIf="inputUsername.errors?.required && inputUsername.touched"> This field is required </div>
                            <div class="text-danger" *ngIf="inputUsername.errors?.minlength && inputUsername.touched"> Must have at least 8 letters </div>
                            <div class="text-danger" *ngIf="inputUsername.errors?.maxlength && inputUsername.touched"> Must have max 20 letters </div>
                            <div class="text-danger" *ngIf="inputUsername.errors?.pattern && inputUsername.touched"> Username must contain at only the allowed special chars (!"$%&/) </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="">
                            <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required minlength="8" maxlength="20" pattern='(?=.*\d)(?=.*[a-z])(?=.*[!"$%&/])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!"$%&/]*$' #inputPassword="ngModel">
                            <div class="text-danger" *ngIf="inputPassword.errors?.required && inputPassword.touched"> This field is required </div>
                            <div class="text-danger" *ngIf="inputPassword.errors?.minlength && inputPassword.touched"> Must have at least 8 letters </div>
                            <div class="text-danger" *ngIf="inputPassword.errors?.maxlength && inputPassword.touched"> Must have max 20 letters </div>
                            <div class="text-danger" *ngIf="inputPassword.errors?.pattern && inputPassword.touched"> Password must contain at least 1 lowercase, 1 uppercase and 1 special char (!"$%&/) </div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col-md-8">
                        <button type="submit" class="btn btn-primary m-auto" [disabled]="f.invalid">
                            Enter
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>