<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Company</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto" *ngIf="loginservice.isLogged">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="transfer">Transfer</a>
            </li>
        </ul>
        <span class="navbar-text" *ngIf="loginservice.isLogged">  
            <button class="btn btn-outline-light"
            *ngIf="true"
            (click)="loginservice.logIn()"
            >
                Log Out
            </button>    
        </span>
    </div>
</nav>