/* You can add global styles to this file, and also import other style files */

body {
    font-size: 0.85em;
    .ng-touched {
        &.ng-invalid {
            border-color: #dc3545;
        }
    }
}